<app-navigation-bar></app-navigation-bar>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card" style="width: 18rem;">
        <img [src]="product.imageSrc" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}}KWD</p>
          <button href="#" class="btn btn-success float-end w-100" (click)="onAddToCartButtonClicked(product)">
            Add to Cart <i class="fa-solid fa-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<p *ngIf="products.length < 1">
  No products in list
</p>
